
* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: orange;
  font-family: Helvetica;
}

.sectiontitle {

    border: 1px;
    top :10px;
    background-color: #C19C91;
    position: absolute;
    width: 20%;
    font-family: Helvetica;
    float: left;
    padding: 5px;
    height: 15%; 
    text-align: center;
    margin: 0px;
    color: white;
    border: 1px solid black;

}

.data {
  border: 1px solid black;
  padding-top: 40px;
  padding-right: 7px;
  padding-left: 7px;
  background-color: #C19C91;
  height: 170px;
  font-family: Helvetica;
  margin: 0px;
}

/* Simple Responsive Framework. */

.row {
  width: 100%;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    position: relative;
    box-sizing: border-box;
 
}
  .col-lg-4 {
    width: 33.33%;
    padding: 10px;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
    position: relative;
  box-sizing: border-box;
    
    }
  .col-md-6 {
    width: 50%;
    padding: 10px;
  }
  .col-md-12 {
    width: 100%;
    padding: 10px;
  }
}

/********** Small devices only **********/
@media (max-width: 767px) {
    .col-sm-12 {
      float: left;
      position: relative;
      box-sizing: border-box;

    }
    .col-sm-12 {
      width: 100%;
      padding: 10px;
    }
  }